In [2]:
print(print(1), print(2))

1
2
None None

In [ ]:
""" get the doc test report when running scripts in terminal 

>>> q, r = divide_exact(2013, 10)
>>> q
201
>>> r
3

"""
python -m doctest -v test.py

In [2]:
"""Assertion"""
assert 3>2, "Math is broken"
assert 3<2, "This is not correct"

AssertionError: This is not correct

In [1]:
def bake(cake, make):
    if cake == 0:
        cake = cake + 1
        print(cake)
    if cake == 1:
        print(make)
    else:
        return cake
    return make
bake(0, 29)

1
29

29

In [2]:
bake(1, "mashed potatoes")

mashed potatoes

'mashed potatoes'

In [1]:
def total(s0, s1):
    print(s0 + s1)
    return echo
def echo(s0, s1):
    print(s0, s1)
    return total

In [4]:
echo(2, 0)

2

In [3]:
s0, s1 = 2, 0
print(s0 + s1)

2

In [2]:
def zero(f):
    def f(x):
        return x
    return f

In [8]:
def one(f):

    return f

In [4]:
def one(f):
    """Church numeral 1: same as successor(zero)"""
    def ret(x):
        return f(x)
    return ret

In [6]:
def increase(x):
    return x+1

In [9]:
one(increase)(0)

1

In [44]:
two(increase)(0)

2

In [12]:
def two(f):
    """Church numeral 1: same as successor(zero)"""
    def ret(x):
        return f(f(x))
    return ret

In [37]:
def two(f):
    """Church numeral 1: same as successor(zero)"""
    def ret(x):
        return f(f(x))
    return ret

In [1]:
def church_to_int(n):
    """Convert the Church numeral n to a Python integer.

    >>> church_to_int(zero)
    0
    >>> church_to_int(one)
    1
    >>> church_to_int(two)
    2
    >>> church_to_int(three)
    3
    """
    "*** YOUR CODE HERE ***"
    def increase(x):
        return x + 1

    return n(increase)(0)

In [11]:
church_to_int(zero)
church_to_int(one)

1

In [13]:
church_to_int(two)

2